{% extends "base.html" %} {% load static %} {% block head %}
<link
  rel="stylesheet"
  href="{% static 'css/detail.css' %}"
/>
{% endblock %}
{% block content %}
    <h2>{{ planet.name }}</h2>
    <div class="detail-container">
        <div class="planet-details">
            <h3>A {{ planet.planet_type }} planet, part of the {{ planet.system }} System</h3>
            {% if planet.inhabited %}
                <p>Planet contains life</p>
            {% else %}
                <p>Planet is uninhabited</p>
            {% endif %}
            <h4>{{ planet.description }}</h4>

            <a href="{% url 'planet-update' planet.id %}">Edit</a>
            <a href="{% url 'planet-delete' planet.id %}">Delete</a>
        </div>
        <div class="mission-container">
            <form action="{% url 'add-mission' planet.id %}" method="post">
                {% csrf_token %}
                {{ mission_form.as_p }}
                <button type="submit">Add Mission</button>
            </form>
            <div>
                {% if planet.mission_set.all.count %}
                    {% for mission in planet.mission_set.all %}
                        <p>A {{ mission.get_type_display }} mission is scheduled for {{ mission.date }}.</p>
                        <a href="{% url 'update-mission' planet.id mission.id %}">Edit</a>
                        <a href="{% url 'delete-mission' planet.id mission.id %}">Delete</a>
                    {% endfor %}
                {% else %}
                    <p>There are no scheduled missions.</p>
                {% endif %}
            </div>
        </div>
    </div>
{% endblock %}