.logo-container {
    background: linear-gradient(black, purple);
    margin-bottom: 0px;
}

.nav-container {
    display: flex;
    list-style-type: none; 
    gap: 20px;
    justify-content: center;
    padding: 10px;
    background-color: #f6cefc;
}

li {
    border: 1px solid blue;
    border-radius: 8px;
    padding: 5px;
}

a {
    text-decoration: none;
}


#user-greeting {
    margin-top: 0px;
}

#logout-button {
    background-color: #f6cefc;
    border: none;
    cursor: pointer;
}